services:
  frigate:
    container_name: frigate
    image: ghcr.io/blakeblackshear/frigate:stable
    privileged: true
    restart: unless-stopped
    shm_size: "256mb"
    volumes:
      - ./config:/config
      - ./media:/media/frigate
      # - type: tmpfs
      #   target: /tmp/cache
      #   tmpfs:
      #     size: 1000000000
    ports:
      - "8971:8971"   # secure UI
      - "5000:5000"   # easy local access (keep local only)
      - "8554:8554"   # RTSP for VLC
      - "1984:1984"   # go2rtc debugging

    environment:
      - TZ=Africa/Cairo


########## FOR GPU AVAILABILITY ##########
# services:
#   frigate:
#     container_name: frigate
#     image: ghcr.io/blakeblackshear/frigate:stable
#     privileged: true
#     restart: unless-stopped
#     shm_size: "256mb"
    
#     # GPU Configuration for NVIDIA RTX 3050
#     deploy:
#       resources:
#         reservations:
#           devices:
#             - driver: nvidia
#               count: all
#               capabilities: [gpu]
    
#     volumes:
#       - ./config:/config
#       - ./media:/media/frigate
#       # - type: tmpfs
#       #   target: /tmp/cache
#       #   tmpfs:
#       #     size: 1000000000
    
#     ports:
#       - "8971:8971"   # secure UI
#       - "5000:5000"   # easy local access (keep local only)
#       - "8554:8554"   # RTSP for VLC
#       - "1984:1984"   # go2rtc debugging

#     environment:
#       - TZ=Africa/Cairo
#       - NVIDIA_VISIBLE_DEVICES=all  # Make GPU visible to container
#       - NVIDIA_DRIVER_CAPABILITIES=compute,utility,video  # GPU capabilities
