services:
  frigate:
    container_name: frigate
    image: ghcr.io/blakeblackshear/frigate:stable-tensorrt
    gpus: all

    restart: unless-stopped
    shm_size: "128mb"
    volumes:
      - ./config:/config
      - ./media:/media/frigate
      - type: tmpfs
        target: /tmp/cache
        tmpfs:
          size: 1000000000
    ports:
      - "8971:8971"   # secure UI
      - "5000:5000"   # easy local access (keep local only)
      - "8554:8554"   # RTSP for VLC
      - "1984:1984"   # go2rtc debugging

    environment:
      - TZ=Africa/Cairo